[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
opencv-python = "*"
requests = "*"
mediapipe = "==0.10.18"
pyserial = "*"
pillow = "*"
python-dotenv = "*"
fastapi = "*"
uvicorn = "*"
python-multipart = "*"
evdev = "*"
flippydot = {editable = true, path = "./flipPyDot"}

[dev-packages]
pytest = "*"
pytest-cov = "*"

[requires]
python_version = "3.10"
